In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
df=pd.read_csv('labeledTrainData.tsv',sep='\t',names=['id','rating','comments'])

In [30]:
df1=pd.read_csv('labeledTrainData.tsv',sep='\t')

In [31]:
df.head()

       id     rating                                           comments
0      id  sentiment                                             review
1  5814_8          1  With all this stuff going down at the moment w...
2  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
3  7759_3          0  The film starts with a manager (Nicholas Bell)...
4  3630_4          0  It must be assumed that those who praised this...

In [94]:
df.groupby('rating').describe()

          comments                                                            \
             count unique                                                top
rating
0            12500  12432  When i got this movie free from my job, along ...
1            12500  12472  The scenes are fast-paced. the characters are ...
sentiment        1      1                                             review

               filtered_comments         \
          freq             count unique
rating
0            3             12500  12430
1            2             12500  12472
sentiment    1                 1      1

                                                                      id  \
                                                         top freq  count
rating
0          realize youve watching exact show eight years ...    3  12500
1          smallville episode justice best episode smallv...    2  12500
sentiment                                             review    1      1


          unique     top freq
rating
0          12500  2851_4    1
1          12500  8782_9    1
sentiment      1      id    1

In [32]:
df1.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [33]:
df['comments'][1]

"With all this stuff going down at the moment with MJ i've started listening to his music, watching the odd documentary here and there, watched The Wiz and watched Moonwalker again. Maybe i just want to get a certain insight into this guy who i thought was really cool in the eighties just to maybe make up my mind whether he is guilty or innocent. Moonwalker is part biography, part feature film which i remember going to see at the cinema when it was originally released. Some of it has subtle messages about MJ's feeling towards the press and also the obvious message of drugs are bad m'kay.<br /><br />Visually impressive but of course this is all about Michael Jackson so unless you remotely like MJ in anyway then you are going to hate this and find it boring. Some may call MJ an egotist for consenting to the making of this movie BUT MJ and most of his fans would say that he made it for the fans which if true is really nice of him.<br /><br />The actual feature film bit when it finally starts is only on for 20 minutes or so excluding the Smooth Criminal sequence and Joe Pesci is convincing as a psychopathic all powerful drug lord. Why he wants MJ dead so bad is beyond me. Because MJ overheard his plans? Nah, Joe Pesci's character ranted that he wanted people to know it is he who is supplying drugs etc so i dunno, maybe he just hates MJ's music.<br /><br />Lots of cool things in this like MJ turning into a car and a robot and the whole Speed Demon sequence. Also, the director must have had the patience of a saint when it came to filming the kiddy Bad sequence as usually directors hate working with one kid let alone a whole bunch of them performing a complex dance scene.<br /><br />Bottom line, this movie is for people who like MJ on one level or another (which i think is most people). If not, then stay away. It does try and give off a wholesome message and ironically MJ's bestest buddy in this movie is a girl! Michael Jackson is truly one of the most talented people ever to grace this planet but is he guilty? Well, with all the attention i've gave this subject....hmmm well i don't know because people can be different behind closed doors, i know this for a fact. He is either an extremely nice but stupid guy or one of the most sickest liars. I hope he is not the latter."

In [34]:
df.describe()

            id rating                                           comments
count    25001  25001                                              25001
unique   25001      3                                              24905
top     5028_4      1  You do realize that you've been watching the E...
freq         1  12500                                                  3

In [35]:
df1.describe() # since sentiment is only number in df1

         sentiment
count  25000.00000
mean       0.50000
std        0.50001
min        0.00000
25%        0.00000
50%        0.50000
75%        1.00000
max        1.00000

In [43]:
from bs4 import BeautifulSoup
example=BeautifulSoup(df['comments'][1],'lxml')
example.get_text()

"With all this stuff going down at the moment with MJ i've started listening to his music, watching the odd documentary here and there, watched The Wiz and watched Moonwalker again. Maybe i just want to get a certain insight into this guy who i thought was really cool in the eighties just to maybe make up my mind whether he is guilty or innocent. Moonwalker is part biography, part feature film which i remember going to see at the cinema when it was originally released. Some of it has subtle messages about MJ's feeling towards the press and also the obvious message of drugs are bad m'kay.Visually impressive but of course this is all about Michael Jackson so unless you remotely like MJ in anyway then you are going to hate this and find it boring. Some may call MJ an egotist for consenting to the making of this movie BUT MJ and most of his fans would say that he made it for the fans which if true is really nice of him.The actual feature film bit when it finally starts is only on for 20 minutes or so excluding the Smooth Criminal sequence and Joe Pesci is convincing as a psychopathic all powerful drug lord. Why he wants MJ dead so bad is beyond me. Because MJ overheard his plans? Nah, Joe Pesci's character ranted that he wanted people to know it is he who is supplying drugs etc so i dunno, maybe he just hates MJ's music.Lots of cool things in this like MJ turning into a car and a robot and the whole Speed Demon sequence. Also, the director must have had the patience of a saint when it came to filming the kiddy Bad sequence as usually directors hate working with one kid let alone a whole bunch of them performing a complex dance scene.Bottom line, this movie is for people who like MJ on one level or another (which i think is most people). If not, then stay away. It does try and give off a wholesome message and ironically MJ's bestest buddy in this movie is a girl! Michael Jackson is truly one of the most talented people ever to grace this planet but is he guilty? Well, with all the attention i've gave this subject....hmmm well i don't know because people can be different behind closed doors, i know this for a fact. He is either an extremely nice but stupid guy or one of the most sickest liars. I hope he is not the latter."

In [44]:
import nltk
import string
from nltk.corpus import stopwords
from stop_words import get_stop_words
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
lem = WordNetLemmatizer()
ps=PorterStemmer()

In [7]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [8]:
stopwords.words('english')[:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [9]:
lst=[ c for c in str(df['comments']) if c not in string.punctuation ]

In [10]:
lst[100]

't'

In [53]:
def filter_punc_stopwrds(txt):
    """
    Remove punctuation
    Remove stopwords
    """
    txtin=BeautifulSoup(txt,'lxml').get_text()
    nopunc=''.join( c for c in ps.stem(txtin.lower()) if c not in string.punctuation )
    return ' '.join( word for word in nopunc.split() if word not in stopwords.words('english'))
    #return ' '.join( lem.lemmatize(word) for word in nostop.split())

In [58]:
df['comments'][1:3].apply(filter_punc_stopwrds)

1    stuff going moment mj ive started listening mu...
2    classic war worlds timothy hines entertaining ...
Name: comments, dtype: object

In [59]:
df['filtered_comments']=df['comments'].apply(filter_punc_stopwrds)

In [60]:
df.head()

,id,rating,comments,filtered_comments
0,id,sentiment,review,review
1,5814_8,1,With all this stuff going down at the moment w...,stuff going moment mj ive started listening mu...
2,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...",classic war worlds timothy hines entertaining ...
3,7759_3,0,The film starts with a manager (Nicholas Bell)...,film starts manager nicholas bell giving welco...
4,3630_4,0,It must be assumed that those who praised this...,must assumed praised film greatest filmed oper...

In [24]:
df1['filtered_comments']=df1['review'].apply(filter_punc_stopwrds)

In [62]:
def filter_punc_stopwrds(txt):
    """
    Remove punctuation
    Remove stopwords
    """
    txtin=BeautifulSoup(txt,'lxml').get_text()
    nopunc=''.join( c for c in ps.stem(txtin.lower()) if c not in string.punctuation )
    return [ word for word in nopunc.split() if word not in stopwords.words('english')]

In [63]:
from sklearn.feature_extraction.text import CountVectorizer
transform_com=CountVectorizer(analyzer=filter_punc_stopwrds).fit(df['comments'])

In [ ]:
transform_com1=CountVectorizer(analyzer=filter_punc_stopwrds).fit(df1['review'])

In [65]:
print(len(transform_com.vocabulary_))

143951

In [77]:
transform_com.transform([df['comments'].min()])

<1x143951 sparse matrix of type '<class 'numpy.int64'>'
	with 240 stored elements in Compressed Sparse Row format>

In [71]:
len(df['comments'].min())

3467

In [75]:
transform_com.get_feature_names()[138635]

'well'

In [76]:
transform_com.get_feature_names()[13401]

'become'

In [79]:
trans_com=transform_com.transform(df['comments'])

In [80]:
trans_com.shape

(25001, 143951)

In [81]:
trans_com.nnz

2525522

In [87]:
sparsity=(100.0 * trans_com.nnz / (trans_com.shape[0] *  trans_com.shape[1] ))
print(sparsity)

0.07017446167544994

In [89]:
from sklearn.feature_extraction.text import TfidfTransformer

In [90]:
tdif_trans=TfidfTransformer().fit(trans_com)

In [96]:
tdif1=tdif_trans.transform(trans_com)

In [100]:
print(tdif_trans.idf_[transform_com.vocabulary_['u']])

6.453882266188602

In [102]:
print(tdif_trans.idf_[transform_com.vocabulary_['university']])

6.491982112420873

In [104]:
tdif1.shape

(25001, 143951)

In [120]:
print(tdif1[0])

  (0, 106223)	1.0

In [113]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import BernoulliRBM

In [114]:
X_train,X_test,Y_train,Y_test=train_test_split(tdif1,df['rating'],test_size=0.33,random_state=42)

In [116]:
clf=RandomForestClassifier(n_estimators=250)

In [117]:
clf=clf.fit(X_train,Y_train)

In [119]:
clf.score(X_test,Y_test)# mean accuracy

0.8561386498606229