In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('labeledTrainData.tsv',sep='\t',names=['id','rating','comments'])

In [3]:
df1=pd.read_csv('labeledTrainData.tsv',sep='\t')

In [8]:
df.head()

       id  rating                                           comments
0  5814_8       1  With all this stuff going down at the moment w...
1  2381_9       1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3       0  The film starts with a manager (Nicholas Bell)...
3  3630_4       0  It must be assumed that those who praised this...
4  9495_8       1  Superbly trashy and wondrously unpretentious 8...

In [9]:
df1.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [12]:
df.describe()

            id rating                                           comments
count    25001  25001                                              25001
unique   25001      3                                              24905
top     3337_2      1  This show comes up with interesting locations ...
freq         1  12500                                                  3

In [13]:
df1.describe() # since sentiment is only number in df1

         sentiment
count  25000.00000
mean       0.50000
std        0.50001
min        0.00000
25%        0.00000
50%        0.50000
75%        1.00000
max        1.00000

In [14]:
df.isnull().values.any()

False

In [15]:
df1.isnull().values.any()

False

In [16]:
import nltk
import string
from nltk.corpus import stopwords

In [23]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [35]:
str(stopwords.words('English')).upper()

'[\'I\', \'ME\', \'MY\', \'MYSELF\', \'WE\', \'OUR\', \'OURS\', \'OURSELVES\', \'YOU\', "YOU\'RE", "YOU\'VE", "YOU\'LL", "YOU\'D", \'YOUR\', \'YOURS\', \'YOURSELF\', \'YOURSELVES\', \'HE\', \'HIM\', \'HIS\', \'HIMSELF\', \'SHE\', "SHE\'S", \'HER\', \'HERS\', \'HERSELF\', \'IT\', "IT\'S", \'ITS\', \'ITSELF\', \'THEY\', \'THEM\', \'THEIR\', \'THEIRS\', \'THEMSELVES\', \'WHAT\', \'WHICH\', \'WHO\', \'WHOM\', \'THIS\', \'THAT\', "THAT\'LL", \'THESE\', \'THOSE\', \'AM\', \'IS\', \'ARE\', \'WAS\', \'WERE\', \'BE\', \'BEEN\', \'BEING\', \'HAVE\', \'HAS\', \'HAD\', \'HAVING\', \'DO\', \'DOES\', \'DID\', \'DOING\', \'A\', \'AN\', \'THE\', \'AND\', \'BUT\', \'IF\', \'OR\', \'BECAUSE\', \'AS\', \'UNTIL\', \'WHILE\', \'OF\', \'AT\', \'BY\', \'FOR\', \'WITH\', \'ABOUT\', \'AGAINST\', \'BETWEEN\', \'INTO\', \'THROUGH\', \'DURING\', \'BEFORE\', \'AFTER\', \'ABOVE\', \'BELOW\', \'TO\', \'FROM\', \'UP\', \'DOWN\', \'IN\', \'OUT\', \'ON\', \'OFF\', \'OVER\', \'UNDER\', \'AGAIN\', \'FURTHER\', \'THEN\', \'ONCE\', \'HERE\', \'THERE\', \'WHEN\', \'WHERE\', \'WHY\', \'HOW\', \'ALL\', \'ANY\', \'BOTH\', \'EACH\', \'FEW\', \'MORE\', \'MOST\', \'OTHER\', \'SOME\', \'SUCH\', \'NO\', \'NOR\', \'NOT\', \'ONLY\', \'OWN\', \'SAME\', \'SO\', \'THAN\', \'TOO\', \'VERY\', \'S\', \'T\', \'CAN\', \'WILL\', \'JUST\', \'DON\', "DON\'T", \'SHOULD\', "SHOULD\'VE", \'NOW\', \'D\', \'LL\', \'M\', \'O\', \'RE\', \'VE\', \'Y\', \'AIN\', \'AREN\', "AREN\'T", \'COULDN\', "COULDN\'T", \'DIDN\', "DIDN\'T", \'DOESN\', "DOESN\'T", \'HADN\', "HADN\'T", \'HASN\', "HASN\'T", \'HAVEN\', "HAVEN\'T", \'ISN\', "ISN\'T", \'MA\', \'MIGHTN\', "MIGHTN\'T", \'MUSTN\', "MUSTN\'T", \'NEEDN\', "NEEDN\'T", \'SHAN\', "SHAN\'T", \'SHOULDN\', "SHOULDN\'T", \'WASN\', "WASN\'T", \'WEREN\', "WEREN\'T", \'WON\', "WON\'T", \'WOULDN\', "WOULDN\'T"]'

In [37]:
stopwords.words('English')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [44]:
df['comments'][:10]

0                                               review
1    With all this stuff going down at the moment w...
2    \The Classic War of the Worlds\" by Timothy Hi...
3    The film starts with a manager (Nicholas Bell)...
4    It must be assumed that those who praised this...
5    Superbly trashy and wondrously unpretentious 8...
6    I dont know why people think this is such a ba...
7    This movie could have been very good, but come...
8    I watched this video at a friend's house. I'm ...
9    A friend of mine bought this film for £1, and ...
Name: comments, dtype: object

In [45]:
lst=[ c for c in str(df['comments']) if c not in string.punctuation ]

In [48]:
lst[100]

't'

In [46]:
from nltk.stem import PorterStemmer
ps=PorterStemmer()

In [51]:
def filter_punc_stopwrds(txt):
    """
    Remove punctuation
    Remove stopwords
    """
    #stemtxt=ps(stem(txt))
    nopunc=''.join( c for c in ps.stem(txt.lower()) if c not in string.punctuation )
    return ' '.join( word for word in nopunc.split() if word not in stopwords.words('English'))

In [52]:
df['comments'][1:10].apply(filter_punc_stopwrds)

1    stuff going moment mj ive started listening mu...
2    classic war worlds timothy hines entertaining ...
3    film starts manager nicholas bell giving welco...
4    must assumed praised film greatest filmed oper...
5    superbly trashy wondrously unpretentious 80s e...
6    dont know people think bad movie got pretty go...
7    movie could good comes way short cheesy specia...
8    watched video friends house im glad waste mone...
9    friend mine bought film £1 even grossly overpr...
Name: comments, dtype: object

In [ ]:
df['filtered_comments']=df['comments'].apply(filter_punc_stopwrds)

In [53]:
df.head()

,id,rating,comments,filtered_comments
0,id,sentiment,review,review
1,5814_8,1,With all this stuff going down at the moment w...,stuff going moment mj ive started listening mu...
2,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...",classic war worlds timothy hines entertaining ...
3,7759_3,0,The film starts with a manager (Nicholas Bell)...,film starts manager nicholas bell giving welco...
4,3630_4,0,It must be assumed that those who praised this...,must assumed praised film greatest filmed oper...

In [ ]:
df['stemmed_comm']=[c for c in df['filtered_comments']